/*Style for login/register page*/


/*white box containing login/register forms*/
.loginRegisterContainer {
    background-color: #fff;
    overflow:hidden;
    width: 40%;
	border-radius: 8px;
    margin: 4.0em auto;
    padding: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 18px #6D6B6B;
}

/*error message when wrong input*/
.errorMsg {
    color: red;
    margin: 1.0em;
}

.message {
    color: black;
}

/*input fields for login/register*/
.loginInput {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid #D8D0D0;
    border-radius: 4px;
    box-sizing: border-box;
}

/*input fields for login/register when focused*/
input[type=text]:focus {
    border: 3px solid #D8D0D0;
    outline: none;
}

input[type=password]:focus {
    border: 3px solid #D8D0D0;
    outline: none;
}

.submitButton {
    background-color: #D8D0D0;
    padding: 12px;
    margin: 20px;
    width: 50%;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    outline: none;
}

.submitButton:hover {
    background-color: #C1BCBB;
    cursor: pointer;
}

.link {
    color: #4F3C3C;
}

.link:hover {
    color: #82646E;
}

/*Style for prosumer/manager page*/

/*display child elements in rows*/
.flexboxRow {
    display: flex;
    flex-direction: row;
}

/*display child elements in columns*/
.flexboxColumn {
    display: flex;
    flex-direction: column;
}

/*display child elements in columns, no flip to rows when screen decreases*/
.flexboxColumnNoFlip {
    display: flex;
    flex-direction: column;
}

/*display child elements in columns, no flip to rows when screen decreases*/
.flexboxRowNoFlip {
    display: flex;
    flex-direction: row;
}

/*children not same height*/
.flexboxRowStart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*white box containing household info on prosumer page*/
.householdInfoBox {
    flex: 1 1 15%;
    background-color: #fff;
    max-width: 15%;
    height: 50%;
    border-radius: 8px;
    float: left;
    margin: 0.5em;
    margin-top: 2.0em;
    padding: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 18px #6D6B6B;
}

/*white box containing electricity details on prosumer page*/
.mainInfoBox {
    flex: 1 1 50%;
    background-color: #fff;
    height: 600px;
    border-radius: 8px;
    float: left;
    margin: 0.5em;
    margin-top: 2.0em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 18px #6D6B6B;
}

/*white box containing price/buffer info on prosumer page*/
.priceBufferInfoBox {
    flex: 1 1 10%;
    background-color: #fff;
    height: 20%;
    border-radius: 8px;
    float: left;
    margin: 0.5em;
    margin-top: 2.0em;
    padding: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 18px #6D6B6B;
}

/*box containing electricity values on prosumer page*/
.displayValues {
    border: 1px solid #B7B5B5;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    margin: auto;
    margin-top: 2.0em;
    font-family: Arial, Helvetica, sans-serif;
}

/*container for electricity values on prosumer page*/
.value {
    flex: 1 1 20%;
    padding-bottom: 1.0em;
    overflow: hidden;
}

/*electricity data on prosumer page*/
.data {
    margin: 0px;
    
}

/*Ratio sliders*/
.ratioContainer{
    flex: 1 1 20%;
    margin: 1.0em;
    padding: 2.0em;
}

.appliedSellBuy {
    margin: 1.0em;
    font-size: 0.9em;
    color: #368448;
}

/*uploaded image on prosumer/manager page*/
.imageContainer {
    background-color: #fff;
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin: auto;
    
}

.image {
    object-fit: contain;
    width: 100%;
    border-radius: 8px;
}

/*style for input image prosumer page*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: black;
    padding: 3px;
    margin: 10px;
    background-color: #D8D0D0;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    border: 2px solid #777474;
    border-radius: 4px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #C1BCBB;
    border: 2px solid #C1BCBB;
}

/*send button for image upload*/
.sendButton {
    width: 50%;
    margin: auto;
    background-color: #777474;
    color: white;
    border: 2px solid #777474;
    border-radius: 4px;
    outline: none;
    overflow:hidden;
}

.sendButton:hover {
    background-color: #C1BCBB;
    border: 2px solid #C1BCBB;
    cursor: pointer;
}

#choose{
    width:50%;
    margin: 0.6em auto;
    overflow: hidden;
}

/*manager page*/
.menu {
    background-color: #5E5E5E;
    width: 100%;
}

.menuLink {
    background-color: #5E5E5E;
    color: white;
    border: 1px solid #5E5E5E;
    text-decoration: none;
    font-size: 1.3em;
    margin: 0.3em;
    outline: none;
}

.menuLink:hover {
    color: #C1BCBB;
    cursor: pointer;
}
.coalPowerPlantBox {
    flex: 1 1 30%;
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    margin: 0.5em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 18px #6D6B6B;
    overflow: hidden;
}
.profileBox {
    flex: 1 1 70%;
    background-color: #fff;
    border-radius: 8px;
    margin: 0.5em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 18px #6D6B6B;
}

.profileContent {
    flex: 1 1 100%;
    padding: 1.0em;
    text-align: left;
    margin: auto;
    border-left: 1px solid #6D6B6B;
}

/*button for deleting user*/
.deleteButton {
    width: 50%;
    margin: auto;
    background-color: #873232;
    color: white;
    border: 2px solid #873232;
    border-radius: 4px;
    outline: none;
}

.deleteButton:hover {
    background-color: #841616;
    border: 2px solid #841616;
    cursor: pointer;
}

/*button for updating user*/
.updateUserButton {
    width: 50%;
    margin: 0.5em auto;
    background-color: #777474;
    color: white;
    border: 2px solid #777474;
    border-radius: 4px;
    outline: none;
}

.updateUserButton:hover {
    background-color: #C1BCBB;
    border: 2px solid #C1BCBB;
    cursor: pointer;
}

/*button for exit page*/
.exitButton {
    width: 40px;
    margin: 0.5em;
    float: right;
    background-color: #777474;
    color: white;
    border: 2px solid #777474;
    border-radius: 4px;
    outline: none;
}

.exitButton:hover {
    background-color: #C1BCBB;
    border: 2px solid #C1BCBB;
    cursor: pointer;
}

/*button for blocking prosumer*/
.blockButton {
    width: 50%;
    margin: 0.5em;
    padding: 2.5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    overflow: hidden;
}

.blockButton:hover {
    background-color: #004C03;
    border: none;
    cursor: pointer;
}

/*button for viewing prosumers system*/
.viewButton {
    width: 50%;
    margin: 0.5em;
    padding: 2.5px;
    background-color: #777474;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    overflow: hidden;
}

.viewButton:hover {
    background-color: #C1BCBB;
    border: none;
    cursor: pointer;
}

/*coal power plant on/running/off*/
.dot {
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
  }

/*table of prosumers*/
#prosumers {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    table-layout: fixed;
}

#prosumers td, #prosumers th {
    border: 1px solid #ddd;
    overflow: hidden;
    word-wrap: break-word; 
    padding: 3px;
}

#prosumers tr:nth-child(even){background-color: #f2f2f2;}

#prosumers tr:hover {background-color: #ddd;}

#prosumers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #777474;
    color: white;
}

/*info popup*/
.popup {
    background-color: white;
    margin: 0.3em;
    padding: 2.0em;
    border-radius: 4px;
    border: 1px solid #777474;
}

.infoButton {
    background-color: white;
    color: black;
    margin: 0.5em;
    width: 25px;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50%;
    font-weight: bolder;
}

/*View prosumers system modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 2em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 5em;
    padding: 2em;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*Make page responsive when browser window is smaller*/
@media all and (max-width: 1024px) {
    .flexboxRow {
        display: flex;
        flex-direction: column;
    }

    .flexboxColumn {
        display: flex;
        flex-direction: row;
    }

    .displayValues {
        border: 1px solid #B7B5B5;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 80%;
        margin-top: 2.0em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .householdInfoBox {
        flex: 1 1 15%;
        background-color: #fff;
        min-width: 90%;
        height: 50%;
        border-radius: 8px;
        float: left;
        margin: 0.5em;
        margin-top: 2.0em;
        padding: 1.0em;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 5px 10px 18px #6D6B6B;
    }

    .loginRegisterContainer {
        width: 80%;
    }
    .profileContent {
        width: 80%;
        border-left: 0px;
        border-top: 1px solid #6D6B6B;
    }

    .flexboxRowStart {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .modal-content {
        margin-top: 0em;
      }
}    


